body{
	margin: 0;
}

a{
	color: #339933;
}

.head{
	padding: 0 30px;
	margin-bottom: 0;
	color: #D4EFBC;
	background: #339933;
}
.head h1{
	margin-left: 30px;
	font-size: 1.5em;
	font-weight: 400;
}
.head .logo i, .head .logo span{
	color: white;
}
.passenger-section-title{
	background: none;
	color: #777;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
	font-size: 1.3em;
}

/* Step 1 - Passenger data */
button[type=submit].passenger {
	background-color: #393;
	width: 100%;
	}
button[type=submit].passenger:hover {
	background-color: #6b6;
	}

